  
  
  
  .header{
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    color: black;
}
.menu{
    display:flex;
    margin: 50px;
    justify-content:space-around;
}
.menu-items{
    margin: 10px;
    
}

.grid img{
    border:2px solid black;
    border-radius: 100px;


}

.Sports{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.sports-image{
    
}
